<style>
</style>


    <h3><a href="/render?model=/index/model.json&view=/index/view.html&ctrl=/index/controller.js" type="button" class="btn btn-light">Back to song list</a></h3>
    <h1>Add New Song</h1>


    <div class="form-group">
        <div class="card card-body row" style="margin: auto">
            <div class="col-sm-5">
                <a>Name</a>
                <input class="form-control" type="text" ng-model="song.name" placeholder="name">
            </div>
            <br>
            <div class="col-sm-5">
                <a>Artist</a>
                <input class="form-control" type="text" ng-model="song.artist" placeholder="artist">
            </div>
            <br>
            <div class="col-sm-5">
                <a>Link</a>
                <input class="form-control" type="text" ng-model="song.link" placeholder="link">
            </div>
            <br>
            <div>
                <button href="/render?model=/index/model.json&view=/index/view.html&ctrl=/index/controller.js" class="btn btn-primary btn-sm" role="button" ng-click="addSong()">Add Song</button>
            </div>
        </div>
        <br>
        <br>
    </div>

